* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  max-height: 100%;
  overflow: hidden;
  width: 100vw;
}
main .hero {
  height: 100vh;
  width: 100%;
  background: #605D58;
  background: linear-gradient(175deg, rgba(96, 93, 88, 0.5) 0%, rgba(235, 228, 218, 0.8) 100%, rgba(237, 230, 220, 0.8) 100%), url("/assets/img/hero.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .hero h1 {
  text-align: center;
  color: #111;
  letter-spacing: 100px;
  margin-right: -3.5rem;
  font-family: "Dokdo", cursive;
  font-size: 7rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  main .hero h1 {
    font-size: 5rem;
    letter-spacing: 50px;
    margin-right: -2.5rem;
  }
}
@media screen and (max-width: 768px) {
  main .hero h1 {
    font-size: 2rem;
    letter-spacing: 20px;
    margin-right: -1rem;
  }
}
main .hero .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .hero .bottom .links {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  width: 340px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.5);
  color: #eee;
}
@media screen and (max-width: 768px) {
  main .hero .bottom .links {
    font-size: 24px;
    width: 280px;
    bottom: 40px;
  }
}
main .hero .bottom .links a {
  transition: all 0.2s ease-in-out;
  color: inherit;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-grow: 0.5;
  flex-shrink: 1;
  background-blend-mode: multiply;
}
main .hero .bottom .links a:hover {
  flex-grow: 2;
  flex-shrink: 0.8;
}
main .hero .bottom .links a:hover.bandcamp {
  background: rgba(98, 154, 169, 0.6);
  color: #eee;
  color: white;
}
main .hero .bottom .links a:hover.soundcloud {
  background: rgba(255, 119, 0, 0.6);
  color: #eee;
  color: white;
}
main .hero .bottom .links a:hover.spotify {
  background: rgba(29, 185, 84, 0.6);
  color: #eee;
  color: white;
}
main .hero .bottom .links a:hover.threads {
  background: rgba(17, 17, 17, 0.6);
  color: #eee;
  color: #d0d0d0;
}
main .hero .bottom .links a:hover.instagram {
  background: rgba(64, 93, 230, 0.6);
  background: -moz-radial-gradient(top left, rgba(64, 93, 230, 0.6), rgba(225, 49, 108, 0.6));
  background: linear-gradient(to bottom right, rgba(64, 93, 230, 0.6), rgba(225, 49, 108, 0.6));
  color: #eee;
  color: white;
}
main .hero .bottom .links a:hover.email {
  background: rgba(155, 65, 98, 0.6);
  color: #eee;
  color: white;
}
main .hero .bottom .links a:first-child {
  padding-left: 5px;
}
main .hero .bottom .links a:last-child {
  padding-right: 5px;
}
main .hero .bottom #notice {
  background: #eee;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  background: repeating-linear-gradient(-45deg, #f2a417, #f2a417 15px, #111 15px, #111 30px);
}
main .hero .bottom #notice .closeButton {
  position: absolute;
  left: 0;
  color: #eee;
  margin: 0 12px;
  transition: color 0.2s ease-in-out;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 768px) {
  main .hero .bottom #notice .closeButton {
    display: none;
  }
}
main .hero .bottom #notice .closeButton:hover {
  color: #E1316C;
}
main .hero .bottom #notice .content {
  background: #eee;
  color: #111;
  padding: 4px 8px;
  transition-property: color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 768px) {
  main .hero .bottom #notice .content {
    font-size: 12px;
    padding: 2px 4px;
    text-align: center;
  }
}
main .hero .bottom #notice .content:hover {
  color: #eee;
  background: #111;
}
main .hero .bottom #notice .content a {
  letter-spacing: 2.2px;
}

footer {
  background: #111;
  color: #eee;
}
footer .copyright {
  padding: 1rem;
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .copyright a {
  transition: color 0.2s ease-in-out;
  color: #eee;
}
footer .copyright a:hover {
  color: #E1316C;
}

/*# sourceMappingURL=style.css.map */
